.DS_Store

# Virtual environments
.venv
env

# Python cache files
__pycache__/
*.pyc
.pytest_cache

# Flask instance/database files
instance/
*.db

# VSCode settings
.vscode/

# Node dependencies
node_modules/
jspm_packages/

# npm files
.npm
.node_repl_history
package-lock.json

# Logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Runtime data
pids
*.pid
*.seed

# Uploaded files
/storage/*
!/storage/.keep

# SQLite databases
/db/*.sqlite3
/db/*.sqlite3-*

# Bundler config
/.bundle

# Misc
.results.json
.byebug_history
/config/master.key

# Solution file
solution.py